# Application Port
PORT=3000

# MongoDB Connection String
# Get this from MongoDB Atlas Dashboard
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Application Environment
NODE_ENV=development

# Application URL (for local development)
APP_URL=http://localhost:3000